*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    background: url(/images/backgrounds/dark\ silver\ background.png);
    background-size: cover;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
}

.navigation span{
    align-self: center;
    padding-top: 10px;
    font-size: larger;

}

nav{
    display: flex;
    justify-content: space-between;
    padding:  10px 25px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

#banner{
   min-height: 300px;
   max-height: 700px;
}

#banner img{
   height: 100%;
   width: 100%;
   object-fit: cover;
 
}

#filler{
    min-height: 200px;
    height: fit-content;
    background: url(/images/backgrounds/dark\ silver\ background.png);
}

#aboutUs{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slideHome{
    position: relative;
    min-width: 300px ;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideHome img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    
}

.slideHome img.active{
    opacity: 1;
}

.info{
    font-size: small;
    padding: 10px;
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: black;
    width: 70%;
    text-align: center;
    
}



